<div class='login'>
  <form action='/authentication' method='post'>
    <input type='text' name='player1' placeholder='Player1'></input>
    <input type='password' name='password1' placeholder='Password'></input>
<br><br>
    <input type='text' name='player2' placeholder='Player2'></input>
    <input type='password' name='password2' placeholder='Password'></input>
    <input type='submit' value='Login'>
  </form>
</div>

<br><br>

<div class='new'>
  <form action='/new_user' method='post'>
    <input type='text' name='username' placeholder='Username'></input>
    <input type='password' name='new_password' placeholder='Password'></input>
    <input type='submit' value='Create'>
  </form>
</div>
