<a href="/game"> start game </a>

<p> Look up your record: </p>

<div class='player-profile'>
  <form action='/player-profile' method='post'>
    <input type='text' name='username' placeholder='username'></input>
<br><br>
